wp_data
wordpress
.wp-cli
!.wp-cli/cache
.idea
.svn

themes/twentytwentytwo
themes/twentytwentythree
themes/twentytwentyfour
themes/twentytwentyfive
plugins/akismet
plugins/classic-editor
plugins/hello.php
dist